.vtc-message-wrapper {
  .vtc-message-container {
    margin-top:6px
  }
  .vtc-card-info {
    background-color: aqua;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto;
    font-size: 12px;
    padding: 4px;
    display: block;
    overflow-wrap: break-word;
    position: relative;
    white-space: normal;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1),
      0 1px 1px -1px rgba(0, 0, 0, 0.11), 0 1px 2px -1px rgba(0, 0, 0, 0.11);
  }

  .vtc-message-card {
    border: rgba(0, 0, 0, 0.1) 1px solid;
    padding: 6px 6px 1px 6px;
    border-radius: 6px 6px 6px 6px;
  }
}

.vtc-message-menu {
  width: 224px;
  background-color: transparent;
  border: transparent;
  box-shadow: none;

  .vtc-menu-list{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
    background-color: white; 
  }

  .vtc-emoji-wrapper {
    background-color: white;
    border-radius: 25px;
    margin-bottom: 10px;
    padding-left:3px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  }
  .vtc-emoji-template {
    font-size: 26px;
    transition: transform .2s;
  }
  .vtc-emoji-template:hover{
    transform: scale(1.5);
  }
}