.vtc-message-wrapper {
  .vtc-message-container {
    margin-top:6px
  }
  .vtc-card-info {
    background-color: aqua;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto;
    font-size: 12px;
    padding: 4px;
    display: block;
    overflow-wrap: break-word;
    position: relative;
    white-space: normal;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1),
      0 1px 1px -1px rgba(0, 0, 0, 0.11), 0 1px 2px -1px rgba(0, 0, 0, 0.11);
  }

  .vtc-message-card {
    border: rgba(0, 0, 0, 0.1) 1px solid;
    padding: 6px 6px 1px 6px;
    border-radius: 6px 6px 6px 6px;
  }
  // Menu animation
  .vac-slide-left-enter-active,
  .vac-slide-right-enter-active {
    transition: all 0.3s ease;
    transition-property: transform, opacity;
  }

  .vac-slide-left-leave-active,
  .vac-slide-right-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1) !important;
    transition-property: transform, opacity;
  }

  .vac-slide-left-enter-from,
  .vac-slide-left-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }

  .vac-slide-right-enter-from,
  .vac-slide-right-leave-to {
    transform: translateX(-10px);
    opacity: 0;
  }

  // Reply message box animation
  .vac-slide-up-enter-active {
    transition: all 0.3s ease;
  }
  .vac-slide-up-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .vac-slide-up-enter-from,
  .vac-slide-up-leave-to {
    transform: translateY(10px);
    opacity: 0;
  }
}
